* {
  box-sizing: border-box;
}
.column {
<<<<<<< HEAD
    float: middle;
    width: 33.33%;
    padding: 0 140px;
  }

 
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    padding: 2 50px;
  }  
.body{
  align-items:baseline;
}  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 253px;
    margin: thick;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .price {
    color: grey;
    font-size: 12px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 6px;
    color: white;
    background-color: rgb(53, 32, 216);
    text-align: center;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
}
=======
  float: left;
  width: 50%;
  padding: 0 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: cascadia code;
}

.card p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
}

.price {
  color: grey;
  font-size: 12px;
}

.card button {
  border: none;
  outline: 0;
  padding: 4px;
  color: white;
  text-align: center;
  font-family: fira code;
  cursor: pointer;
  /* margin-top: 5px; */
  width: 100%;
  font-size: 18px;
}
>>>>>>> deploy
