<h1 class="text-center my-5">Flat Registration</h1>

<div class="container">
  <div class="col" class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card my-3" *ngFor="let flat of flats">
      <img src="../../assets/images/flat101.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flat Number {{flat.flatId}}</h5>
        <p class="card-text">Present at storey number {{flat.storeyNumber}} and The total price of this flat is
          {{flat.price}} + 18% GST</p>
        <p><button type="submit" class="btn btn-primary">Buy / Register</button></p>
      </div>
    </div>
  </div>
</div>