<h1 style="color:rgba(0, 0, 255, 0.456)">Welcome to our Smart Flat Registration System.</h1>
<hr>
<div class="row">
    <div class="column">
<div class="card" >
    <img src="../../assets/images/flat101.jpg" alt="Flat-101" style="width:300px;height:300px;"><br>
    <h1>Flat-101</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat102.jpg" alt="Flat-102" style="width:300px;height:300px;"><br>
    <h1>Flat-102</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat103.jpg" alt="Flat-103" style="width:300px;height:300px;"><br>
    <h1>Flat-103</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat104.jpg" alt="Flat-104" style="width:300px;height:300px;"><br>
    <h1>Flat-104</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat105.jpg" alt="Flat-105" style="width:300px;height:300px;"><br>
    <h1>Flat-105</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat106.jpg" alt="Flat-106" style="width:300px;height:300px;"><br>
    <h1>Flat-106</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat201.jpg" alt="Flat-201" style="width:300px;height:300px;"><br>
    <h1>Flat-201</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat202.jpg" alt="Flat-202" style="width:300px;height:300px;"><br>
    <h1>Flat-202</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat203.jpg" alt="Flat-203" style="width:300px;height:300px;"><br>
    <h1>Flat-203</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat204.jpg" alt="Flat-204" style="width:300px;height:300px;"><br>
    <h1>Flat-204</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat205.jpg" alt="Flat-205" style="width:300px;height:300px;"><br>
    <h1>Flat-205</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat206.jpg" alt="Flat-206" style="width:300px;height:300px;"><br>
    <h1>Flat-206</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat301.jpg" alt="Flat-301" style="width:300px;height:300px;"><br>
    <h1>Flat-301</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat302.jpg" alt="Flat-302" style="width:300px;height:300px;"><br>
    <h1>Flat-302</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat303.jpg" alt="Flat-303" style="width:300px;height:300px;"><br>
    <h1>Flat-303</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat304.jpg" alt="Flat-304" style="width:300px;height:300px;"><br>
    <h1>Flat-304</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat305.jpg" alt="Flat-305" style="width:300px;height:300px;"><br>
    <h1>Flat-305</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat306.jpg" alt="Flat-306" style="width:300px;height:300px;"><br>
    <h1>Flat-306</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat401.jpg" alt="Flat-401" style="width:300px;height:300px;"><br>
    <h1>Flat-401</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat402.jpg" alt="Flat-402" style="width:300px;height:300px;"><br>
    <h1>Flat-402</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat403.jpg" alt="Flat-403" style="width:300px;height:300px;"><br>
    <h1>Flat-403</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat101.jpg" alt="Flat-101" style="width:300px;height:300px;"><br>
    <h1>Flat-404</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat101.jpg" alt="Flat-101" style="width:300px;height:300px;"><br>
    <h1>Flat-405</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>

<div class="column">
<div class="card">
    <img src="../../assets/images/flat101.jpg" alt="Flat-101" style="width:300px;height:300px;"><br>
    <h1>Flat-406</h1>
    <p class="price">Rs. 20 Lakhs(including GST)</p>
    <p><button type="submit" class="btn btn-primary">Buy/Register</button></p>
</div>
</div>
</div>

