<div class="container col-md-6 my-5">
  <h1 class="mb-5 text-center" style="color:red">Register Flat Number {{flat.flatId}}</h1>
  <form [formGroup]="registerFlatForm" (ngSubmit)="registerFlatOnClick()" class="needs-validation" novalidate>
    <div class="row g-3">
      <div class="col-md-6 position-relative">
        <label for="fname" class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="fname" id="fname" placeholder="First name"
        aria-label="First name" required>
      </div>

      <div class="col-md-6">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lname" id="lname" placeholder="Last name"
        aria-label="Last name" required>
      </div>

      <div class="row-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="Email Address" id="email" name="email" formControlName="email">
      </div>

      <div class="row-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="text" class="form-control" placeholder="Phone Number" id="phone" name="phone" formControlName="phone">
      </div>
      
      <div class="mb-3">
        <label for="inputGender" class="form-label">Do you want to stay now?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true" name="stay" formControlName="stay">
          <label class="form-check-label" for="exampleRadios1">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false" name="stay" formControlName="stay">
          <label class="form-check-label" for="exampleRadios2">
            No
          </label>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Register Flat</button>
      </div>
    </div>
  </form>
</div>